<%= link_to "Suggest a Book", new_book_path %>

<table id="books_list">
  <tr>
    <th> Votes   </th>
    <th> Book    </th>
    <th> Authors </th>
    <th> Actions </th>
  </tr>
  <% @books.each_with_index do |book, index| %>
    <tr>
      <td><%= Vote.count_for book                 %></td>
      <td><%= link_to book.name, book_path(book)  %></td>
      <td><%= book.authors                        %></td>
      <td>
        <%  vote = Vote.for(@current_user, book) %>
        <%= link_to_if(vote.can_increase?, "Up",   book_vote_up_path(book))   { "Up"   } %>
        <%= link_to_if(vote.can_decrease?, "Down", book_vote_down_path(book)) { "Down" } %>
      </td>
    </tr>
  <% end %>
</table>
