<%= form_for @book do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Book's Name"%>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :authors %>
    <%= f.text_field :authors %>
  </p>

  <%= f.submit "Suggest Book" %>
<% end %>
