<%= form_for @book do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Book's Name"%>
    <%= f.text_field :name %>
  </p>

  <div id="book_authors">
    Author Names:
    <%= f.fields_for :authors do |f_a| %>
      <p>
        <%= f_a.text_field :full_name %>
      </p>
    <% end %>
  </div>

  <%= f.submit "Suggest Book" %>
<% end %>
