<% title(@book.name, 'Books') %>

<h2><%= @book.name %></h2>

<h3><%= @book.authors %></h3>

<div id="votes">
  Votes: <%= Vote.count_for @book %>
</div>

<%= link_to "Vote Up"  ,   vote_up_book_path(@book) %>
<%= link_to "Vote Down", vote_down_book_path(@book) %>
