<% title(@book.name, 'Books') %>

<h2>
  <%= @book.name %>
  <span id="book_status">
    <% if @book.is_bought %>
      (Bought)
    <% else %>
      (Suggested)
    <% end %>
  </span>
</h2>

<h3><%= authors_names(@book) %></h3>


<%=
  link_to_if is_admin? && !@book.is_bought, "Mark as Bought", book_mark_as_bought_path(@book) do
    link_to_if is_admin?, "Unmark as Bought", book_unmark_as_bought_path(@book) do
      ""
    end
  end
%>

<div id="votes">
  Votes: <%= Vote.count_for @book %>
  (
    <%=
      link_to_if @vote.can_increase?, "Vote Up", book_vote_up_path(@book) do
        "Vote Up"
      end
    %>
    |
    <%=
      link_to_if @vote.can_decrease?, "Vote Down", book_vote_down_path(@book) do
        "Vote Down"
      end
    %>
  )
</div>

<div id="reservations_list">
  Reservations:
  <ul>
    <% @book.reservations.each do |reservation| %>
      <li>
        <%= reservation.user.name %>
        <% if reservation.user == @current_user %>
          (
          <%=
            link_to "Release",
              book_reservation_path(
                @book,
                Reservation.for(:book => @book, :user => @current_user)
              ),
              :method => 'delete',
              :confirm => 'Are you sure you want to give up your reservation?'
            %>
          )
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= form_for [@book, @comment], :id => 'new_comment' do |f| %>
    Add Comment
    <%= f.error_messages %>
    <p>
      <%= f.text_area :body, :size => "60x5"%>
    </p>

    <%= f.submit "Add Comment" %>
  <% end %>

  <div id="comments_list">
    Comments:
    <table>
      <% @book.comments.each do |comment| %>
        <tr>
          <td class="user"><%= comment.user.name %>: </td>
          <td class="body"><%= comment.body      %>  </td>
          <td>
            (
            <%= link_to "Edit", edit_book_comment_path(@book, comment) %>
            <%= link_to "Delete", book_comment_path(@book ,comment), :method => :delete, :confirm => "Are you sure you want to delete the comment?" %>
            )
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
