<% title(@book.name, 'Books') %>

<h2><%= @book.name %></h2>

<h3><%= @book.authors %></h3>

<div id="votes">
  Votes: <%= Vote.count_for @book %>
  (
    <%=
      link_to_if @vote.can_increase?, "Vote Up", vote_up_book_path(@book) do
        "Vote Up"
      end
    %>
    |
    <%=
      link_to_if @vote.can_decrease?, "Vote Down", vote_down_book_path(@book) do
        "Vote Down"
      end
    %>
  )
</div>
