<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="#main" class="container_12">
    <% if signed_in? %>
      <div id="topbar" class="grid_12 left">
        <div class="grid_4">
          Hello, <%= current_user.name %>
        </div>
        <div class="prefix_6 right">
          <% if is_admin? %>
            <%= link_to "User Administration", users_path %> |
          <% end %>
          <%= link_to "Logout", logout_path %>
        </div>
      </div>
      <ul id="navigation" class="grid_12">
        <li><%= link_to "My Reservations", reservations_path, :class => current_tab('/reservations') %></li>
        <li><%= link_to "Library", bought_books_path, :class => current_tab('/books/bought') %></li>
        <li><%= link_to "Suggestions", books_path, :class => current_tab('/books', '/') %></li>
      </ul>
    <% end %>

    <% flash.each do |key, value| %>
      <div class='flash' id='<%= key %>'>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
